section#navigation {
  max-width: unset;
  width: 100%;
}

.option-select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #555;
    background-color: #eee;
    margin: 5px;
    min-width: 200px;
}

#event-container {
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 0;
  max-height: 700px;
  overflow-y: auto;
}

#event-container + aside {
  border-left: 2px solid black;
}

#event-container .event {
  cursor: pointer;
  margin: 6px;
  border-radius: 8px;
  flex-grow: 1;
  /* border: 1px solid #d0d0d0; */
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

#event-container .event button{
  border: none;
  margin: 2px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.2)
  );
}

#event-container .event button:hover{
  transform: scale(1.1);
  background-color: rgb(22, 78, 176);
  color: white;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.2);
}

#event-container .event button.selected{
  color: white;
  background-color: maroon;
}

#selection-area {
    min-height: 53px;
}

#game-options-area legend{
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 8px 12px;
  border-radius: 5vh;
}

@media screen and (max-width: 900px){
  #game-options-area {
    flex-direction: column;
  }

  #game-options-area > *{
    width: 100% !important;
  }
}