.advertisement {
  background-image: url(./istockphoto-1411399462-612x612.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  flex-wrap: wrap;
}

section#navigation {
  max-width: unset;
  width: 100%;
}

.option-select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #555;
    background-color: #eee;
    margin: 5px;
    min-width: 200px;
}

#ball-container {
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 0;
}

#ball-container + aside {
  border-left: 2px solid black;
}

.ball {
  cursor: pointer;
  margin: 2px;
  width: 45px;
  height: 45px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

#ball-container .ball {
  margin: 4px;
}

.ball:hover {
  background-color: rgb(22, 78, 176);
  transform: scale(1.1);
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.2);
}

.ball.selected {
    background-color: maroon;
}

#selection-area {
    min-height: 53px;
}

#game-options-area legend{
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  background-color: #fafafa;
  padding: 8px 12px;
  border-radius: 5vh;
}

@media screen and (max-width: 900px){
  #game-options-area {
    flex-direction: column;
  }

  #game-options-area > *{
    width: 100% !important;
  }
}